body {
}

.booksWraper {
    display: flex;
}

.books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book {
    width: 230px;
    border: 1px solid #c1c1c1;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position:relative;
}

.bookPicture {
    width: 95%;
    height: 300px;
}

.bookTitle, .bookTypeLink {
    font-size: 18px;
    color: #808080;
}

.bookType {
    text-align: right;
    border: 1px solid #c1c1c1;
    padding: 7px 20px;
    margin: 0 10px 10px 10px;
}

.bookTypes {
    width: 250px;
    padding-top: 10px;
}

.bookType:hover, .bookTypeLink:hover {
    background: #c1c1c1;
    color: black;
}

.bookTypeLink {
    text-decoration: none;
}

.hidden {
    display: none;
}

.loaderImg {
    display: inline-block;
    width: 500px;
    margin: 50px auto;
}

.loader {
    text-align: center;
}

.leftSide {
    width: 1200px;
}

.popup-bg {
    position: fixed;
    top: 50px;
    left: 50px;
    display: none;
    background-color: transparent;
    width: 600px;
    height:440px;
   
    padding: 30px;
}

.popup {
    border: 3px solid #808080;
    box-shadow: 15px 15px 15px #c1c1c1;
    background-color: #ffffff;
    padding: 20px;
}
.favoriteFields
{
    list-style:none;
}
.favoriteField
{
    margin: 15px 0;
    padding:10px;
}
.favoritelabel
{
    padding:10px;
    width: 150px;
    display:inline-block;
    font-size: 20px;
}
input, textarea {
    padding: 15px;
    width: 280px;
}
.favoriteControl {
    padding: 10px;
    width: 220px;
    font-size: 20px;
}

.no-scroll {
    overflow-y: hidden;
}
.favoriteImg
{
    position:absolute;
    top: -12px;
    left:-12px;
    height:25px;
    width:25px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(200,200,200,0.3);
    display: none;
}
.favoriteBookName
{

font-size: 20px;
}

.paging
{
    display: flex;  
}
.pagenumber
{
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 50px; 
    border: 1px solid #c1c1c1;
    text-align: center;
    
}
.pagenumber:hover {
   
    background:#c1c1c1;
}
