@using LibraryModels
@{
    ViewData["Title"] = "MasterPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/styles/masterpage.css" rel="stylesheet" />
    
</head>
<body>
    <div class="wraper">
        <div class="controlBar">
            <header class="header">
                <section class="logo">
                    <img class="logoImage" src="~/images/logo4.png" />
                    <p class="logoText"></p>
                </section>
                <section class="navigation">
                    <p class="filterText">Navigation menu</p>
                    <div class="navMenu">
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewBookCatalog">Book Catalog</a></span>
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewRegistrationForm">Sign in</a></span>
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewRegistrationForm">Sign up</a></span>
                    </div>
                </section>

                @if(Model != null && Model.GetType() == typeof(CatalogViewModel))
                {
                    <section class="authorFilter">
                        <p class="filterText">Author filter</p>
                        <div class="navMenu">
                            @foreach(Author author in Model.Authors )
                            {
                                string authorLink = "http://localhost:5160/guest/ViewBookCatalog/?authorId=" + author.AuthorId;
                                <span class="menuItem">
                                    <a class="link" href=@authorLink>@author.AuthorFirstName @author.AuthorLastName</a>
                                </span>
                            }
                           
                           
                        </div>
                    </section>
                    <section class="ganreFilter">
                        <p class="filterText">Ganre filter</p>
                        <div class="navMenu">
                            @foreach (Ganre ganre  in Model.Ganres)
                            {
                                string ganreLink = "http://localhost:5160/guest/ViewBookCatalog/?ganreId=" + ganre.GanreId;
                                <span class="menuItem">
                                    <a class="link" href=@ganreLink>@ganre.GanreName</a>
                                </span>
                            }
                        </div>
                    </section>
                }
            </header>
            <footer class="footer">
            </footer>
        </div>
        <div class="dataBar">
           @RenderBody()
        </div>
    </div>
</body>
</html>
