
@{
    ViewData["Title"] = "MasterPage";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/styles/masterpage.css" rel="stylesheet" />
    
</head>
<body>
    <div class="wraper">
        <div class="controlBar">
            <header class="header">
                <section class="logo">
                    <img class="logoImage" src="~/images/logo4.png" />
                    <p class="logoText"></p>
                </section>
                <section class="navigation">
                    <p class="filterText">Navigation menu</p>
                    <div class="navMenu">
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewBookCatalog">Book Catalog</a></span>
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewRegistrationForm">Sign in</a></span>
                        <span class="menuItem"><a href="http://localhost:5160/Guest/ViewRegistrationForm">Sign up</a></span>
                    </div>
                </section>
                <section class="authorFilter">
                    <p class="filterText">Author filter</p>
                    <img class="arrowdown" src="Content/images/down.png" />
                    <img class="arrowup" src="Content/images/up.png" />
                    <div class="navMenu">
                        <span class="menuItem">
                            <a class="link" href=#>Book Catalog</a>
                        </span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                        <span class="menuItem">Author Name</span>
                    </div>
                </section>
                <section class="ganreFilter">
                    <p class="filterText">Ganre filter</p>
                    <img class="arrowdown" src="Content/images/down.png" />
                    <img class="arrowup" src="Content/images/up.png" />

                    <div class="navMenu">
                        <span class="menuItem">Book Catalog</span>
                        <span class="menuItem">Sign in</span>
                        <span class="menuItem">Sign up</span>
                    </div>
                </section>

            </header>
            <footer class="footer">
            </footer>
        </div>
        <div class="dataBar">
           @RenderBody()
        </div>
    </div>
</body>
</html>
