@using LibraryModels
@model CatalogViewModel
@{
    ViewData["Title"] = "ViewBookCatalog";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<link href="~/styles/catalog.css" rel="stylesheet" />
<div class="books">
@foreach(Book book in Model.Books)
{
    <div class="book">
        <a href="ViewBook.html">
                <img class="bookPicture" 
                    src="http://localhost:5273/Images/Books/@book.BookImage" />
        </a>
        <h1 class="bookTitle">
            <a href="ViewBook.html">@book.BookName </a>
        </h1>
    </div>
}



</div>
<div class="paging">
    @for (int i = 1; i <= Model.PageCount; i++)
    {
        <p class="pagenumber">
            <a href="http://localhost:5160/guest/ViewBookCatalog/?page=@i">@i</a>
        </p>
    }
    
</div>

